* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px rgb(243, 241, 241); 
}

header a {
    font-family: 'Poppins', sans-serif; 
    font-size: 1rem; 
    color: rgb(101, 36, 73);
    text-decoration: none; 
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-height: 100%;
    justify-content: space-evenly;
    width: 100%;
    
}   

article {
    background-color: white;
    padding: 5px;    
    box-shadow: 2px 2px rgb(243, 241, 241); 
    flex-basis: 300px; 
    min-height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-bottom: 20px; 
}

article:hover {
    box-shadow: 4px 4px rgb(220, 220, 220); 
}


img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    max-height: 200px; 
    margin-bottom: 5px;
} 

h1 {
    font-family: 'poppins', sans-serif;
    font-size: 3rem;
    color: rgb(16, 16, 128);
}

h2 {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5px; 
}

p {
    font-family: 'Cormorant Garamond', serif;  
}

a {
    text-decoration: none; 
    color: rgb(136, 49, 98);
}

a:hover {
    color: darkmagenta
}

/* Styles for the about page */
.about-page body {
    font-family: 'Poppins', sans-serif; 
    margin: 20px; 
}

.about-page h1 {
    text-align: center; 
    color: #333; 
}


.about-page p {
    
    text-align: left; 
    color: #555; 
    line-height: 1.6; 
    max-width: 600px; 
    margin: 0 auto; 
    font-family: 'Cormorant Garamond', serif;
    background-color: rgba(243, 233, 246, 0.5); 
    padding: 10px;
    border-radius: 5px
}
